# PostgreSQL Neon Database URL
DATABASE_URL=postgresql://neondb_owner:npg_KyZTrp7XQ8xl@ep-spring-snow-azgi3kt1.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Internal API Route URL (Default: /api)
NEXT_PUBLIC_API_URL=/api

# Real PostgreSQL Mode (Always false for production)
NEXT_PUBLIC_USE_MOCK=false
